@theme inline {
  --color-neogotham-dark-bg: oklch(from #11151c l c h);
  --color-neogotham-dark-bg-dark: oklch(from #0c1014 l c h);
  --color-neogotham-dark-bg-dark1: oklch(from #1b1e2d l c h);
  --color-neogotham-dark-bg-float: var(--color-neogotham-dark-bg-dark);
  --color-neogotham-dark-bg-highlight: oklch(from #091f2e l c h);
  --color-neogotham-dark-bg-popup: var(--color-neogotham-dark-bg-dark);
  --color-neogotham-dark-bg-search: var(--color-neogotham-dark-blue0);
  --color-neogotham-dark-bg-sidebar: var(--color-neogotham-dark-bg-dark);
  --color-neogotham-dark-bg-statusline: var(--color-neogotham-dark-bg-dark);
  --color-neogotham-dark-bg-visual: oklch(from #0e232e l c h);
  --color-neogotham-dark-black: oklch(from #0e1116 l c h);
  --color-neogotham-dark-black-bright: oklch(from #4e5166 l c h);
  --color-neogotham-dark-blue: oklch(from #0092b6 l c h);
  --color-neogotham-dark-blue-bright: oklch(from #00a0c7 l c h);
  --color-neogotham-dark-blue0: oklch(from #0a3749 l c h);
  --color-neogotham-dark-blue1: oklch(from #1e6479 l c h);
  --color-neogotham-dark-blue2: oklch(from #2ab3de l c h);
  --color-neogotham-dark-blue5: oklch(from #00b5df l c h);
  --color-neogotham-dark-blue6: oklch(from #d3ebe9 l c h);
  --color-neogotham-dark-blue7: oklch(from #599cab l c h);
  --color-neogotham-dark-border: var(--color-neogotham-dark-black);
  --color-neogotham-dark-border-highlight: oklch(from #1b5466 l c h);
  --color-neogotham-dark-comment: oklch(from #1e6479 l c h);
  --color-neogotham-dark-cyan: oklch(from #53b1cf l c h);
  --color-neogotham-dark-cyan-bright: oklch(from #10c3ea l c h);
  --color-neogotham-dark-dark3: oklch(from #1e6479 l c h);
  --color-neogotham-dark-dark5: oklch(from #888ca6 l c h);
  --color-neogotham-dark-diff-add: oklch(from #182d2d l c h);
  --color-neogotham-dark-diff-change: oklch(from #1c2931 l c h);
  --color-neogotham-dark-diff-delete: oklch(from #4a2c2e l c h);
  --color-neogotham-dark-diff-text: var(--color-neogotham-dark-blue7);
  --color-neogotham-dark-error: var(--color-neogotham-dark-red1);
  --color-neogotham-dark-fg: oklch(from #99d1ce l c h);
  --color-neogotham-dark-fg-dark: oklch(from #0a3749 l c h);
  --color-neogotham-dark-fg-float: var(--color-neogotham-dark-fg);
  --color-neogotham-dark-fg-gutter: oklch(from #1e6479 l c h);
  --color-neogotham-dark-fg-sidebar: var(--color-neogotham-dark-fg-dark);
  --color-neogotham-dark-git-add: oklch(from #2aa889 l c h);
  --color-neogotham-dark-git-change: oklch(from #599cab l c h);
  --color-neogotham-dark-git-delete: oklch(from #981f18 l c h);
  --color-neogotham-dark-git-ignore: var(--color-neogotham-dark-dark3);
  --color-neogotham-dark-green: oklch(from #2aa889 l c h);
  --color-neogotham-dark-green-bright: oklch(from #00b894 l c h);
  --color-neogotham-dark-green1: oklch(from #4cd0ad l c h);
  --color-neogotham-dark-green2: oklch(from #2d7561 l c h);
  --color-neogotham-dark-hint: var(--color-neogotham-dark-teal);
  --color-neogotham-dark-info: var(--color-neogotham-dark-blue2);
  --color-neogotham-dark-magenta: oklch(from #AB21A0 l c h);
  --color-neogotham-dark-magenta-bright: oklch(from #c700ba l c h);
  --color-neogotham-dark-magenta2: oklch(from #e542d7 l c h);
  --color-neogotham-dark-orange: oklch(from #d26937 l c h);
  --color-neogotham-dark-purple: oklch(from #62448f l c h);
  --color-neogotham-dark-rainbow1: var(--color-neogotham-dark-blue);
  --color-neogotham-dark-rainbow2: var(--color-neogotham-dark-yellow);
  --color-neogotham-dark-rainbow3: var(--color-neogotham-dark-green);
  --color-neogotham-dark-rainbow4: var(--color-neogotham-dark-teal);
  --color-neogotham-dark-rainbow5: var(--color-neogotham-dark-magenta);
  --color-neogotham-dark-rainbow6: var(--color-neogotham-dark-purple);
  --color-neogotham-dark-rainbow7: var(--color-neogotham-dark-orange);
  --color-neogotham-dark-rainbow8: var(--color-neogotham-dark-red);
  --color-neogotham-dark-red: oklch(from #c23127 l c h);
  --color-neogotham-dark-red-bright: oklch(from #e42100 l c h);
  --color-neogotham-dark-red1: oklch(from #f47263 l c h);
  --color-neogotham-dark-teal: oklch(from #329379 l c h);
  --color-neogotham-dark-todo: var(--color-neogotham-dark-blue);
  --color-neogotham-dark-warning: var(--color-neogotham-dark-yellow);
  --color-neogotham-dark-yellow: oklch(from #edb443 l c h);
  --color-neogotham-dark-yellow-bright: oklch(from #ffc142 l c h);
}